
html{
    overflow-x: hidden;
    z-index:0;
    margin:0px;
    background-color:grey;
    height:120%;
    }
    #header{
        width:100%;
        height:10%;
        color:white;
        font-size:50px;
        text-align:center;
        border-bottom:solid white;
        background:darkgrey;    
        border-radius:25px;
    }
    h1{
        border-bottom:solid white;
        margin-top:0px;
    }
#topContainer{
    width:100%;
    height:300px;
    margin:auto;
    margin-bottom:100px;
}
#buttonDisplay{
    width:100%;
    height:auto;
    display:flex;
    text-align: center;
    border-bottom:solid white;
    background:darkgrey; 
}
#inputForm{
    margin:20px;
    text-align: center;
    padding:10px;
}
#gifInput{
    width:60%;
    height:80px;
    font-size:50px;
    background-color:lightgray;
    border-radius:25px;
}
#submitBtn{
    width:60%;
    height:100px;
    font-size:50px;
    margin-top:20px;
    background-color:teal;
    border-radius:10px;
    
}
.gifButton{
    width:200px;
    height:100px;
    font-size:40px;
    background-color:white;
    background-color:teal;
    border-radius:10px;
    color:white
}

#gifDisplay{
    width:100%;
    height:500px;
    display:flex;
    overflow:auto;
    font-size:30px;
    padding:10px;
    background:darkgrey; 
    border-radius:25px;
}
.gifDiv{
    width:auto;
    height:auto;
    margin:0px;
}
.gifImage{
    height:200px;
    }
.ratingP{
    width:200px;
    height:auto;
}