
body{
    margin:0px;
    background-color: darkgray;
}
#topContainer{
    width:100%;
    height:300px;
    margin:auto;
    margin-bottom:100px;
}
#buttonDisplay{
    width:100%;
    height:auto;
    display:flex;
    text-align: center;
}
#inputForm{
    margin:20px;
    background-color:darkslategray;
    text-align: center;
    padding:10px;
}
#animalInput{
    width:60%;
    height:80px;
    font-size:50px;
    background-color:lightgray;
}
#submitBtn{
    width:60%;
    height:100px;
    font-size:50px;
    margin-top:20px;
    background-color:white;
}
.animalButton{
    width:200px;
    height:100px;
    font-size:40px;
    background-color:white;
}
#animalDisplay{
    width:100%;
    height:500px;
    display:flex;
    overflow-x: scroll;
    overflow-y: none;
    font-size:30px;
    background-color:darkslategray;
    padding:10px;
}
.animalDiv{
    width:auto;
    height:auto;
    margin:auto;
    background-color: darkslategray;
}
.animalImage{
    height:200px;
    }
.ratingP{
    width:200px;
    height:auto;
}
