
body{
    overflow-x: hidden;
    z-index:0;
    margin:0px;
    background-image: linear-gradient(black, white);
    }
#topContainer{
    width:100%;
    height:300px;
    margin:auto;
    margin-bottom:100px;
}
#buttonDisplay{
    width:100%;
    height:auto;
    display:flex;
    text-align: center;
}
#inputForm{
    margin:20px;
    background-color:black;
    text-align: center;
    padding:10px;
}
#gifInput{
    width:60%;
    height:80px;
    font-size:50px;
    background-color:lightgray;
}
#submitBtn{
    width:60%;
    height:100px;
    font-size:50px;
    margin-top:20px;
    background-image: linear-gradient(teal, white);
}
.gifButton{
    width:200px;
    height:100px;
    font-size:40px;
    background-color:white;
    background-image: linear-gradient(teal, white);
    color:white
}
#gifDisplay{
    width:100%;
    height:500px;
    display:flex;
    overflow-x: scroll;
    overflow-y: none;
    font-size:30px;
    background-color:black;
    padding:10px;
}
.gifDiv{
    width:auto;
    height:auto;
    margin:auto;
    background-color: black;
}
.gifImage{
    height:200px;
    }
.ratingP{
    width:200px;
    height:auto;
}